.container
  .header
    %h1= @question.title
  .content
    = @question.content
  .answers
    %h3 Odpowiedzi
    %ul
      - @answers.each do |answer|
        %li= answer.content

  = link_to 'Odpowiedz', new_question_answer_path(@question)

  = link_to 'Edytuj', edit_question_path(@question)
  = link_to 'Wróć do listy pytań', questions_path
