%h1 Listing answers

%table
  %tr
    %th Question
    %th Content
    %th
    %th
    %th

  - @answers.each do |answer|
    %tr
      %td= answer.question_id
      %td= answer.content
      %td= link_to 'Show', answer
      %td= link_to 'Edit', edit_answer_path(answer)
      %td= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Answer', new_answer_path
