= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :username, 'Login na Githubie'
    = f.text_field :username
  .field
    = f.label :repo, 'Nazwa repozytorium na Githubie'
    = f.text_field :repo
  .field
    = f.label :website, 'Adres strony internetowej'
    = f.text_field :website
  .actions
    = f.submit 'Zapisz', :class => 'btn btn-success'
