- provide(:title, 'Projekty')
%h1 Nasze projekty

= link_to '+ Nowy projekt', new_project_path, :class => 'btn btn-primary'

.projects
  - @projects.each do |project|
    .project-box{'data-project' => project.id}
      .project-info
        .pull-left.half
          = image_tag ((project.gravatar.present?) ? project.gravatar : 'logos/octocat.png')
        .pull-left.half
          %strong Login:
          %span= github_user(project.username)
          %strong Repozytorium:
          %span= github_repo(project.username, project.repo)
          - if project.website.present?
            %strong Strona:
            %span= link_to project.website, project.website
      .project-details
        .description
          %strong Opis projektu:
          %span= project.description
        .last-commit-message
          %strong Ostatni commit:
          %span= project.last_commit_message
        .last-commit-date
          %strong Data ostatniego commitu:
          %span= project.last_commit_date
      .project-actions
        .btn-group
          - if can?(:edit, project)
            = link_to "Edytuj", edit_project_path(project), :class => "btn btn-success"
          - if can?(:edit, project)
            = link_to "Usuń", project_path(project), :confirm => 'Na pewno?', :method => :delete, :class => "btn btn-danger"
