<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2>Operacja nie powiodła się:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Tytuł" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address, "Adres URL" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description, "Opis" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tagi" %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit "Zapisz", :class => 'btn btn-success' %>
  </div>
<% end %>
