<%= form_for(@ona) do |f| %>
  <% if @ona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ona.errors.count, "error") %> prohibited this ona from being saved:</h2>

      <ul>
      <% @ona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
