<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ona.name %>
</p>

<p>
  <b>Info:</b>
  <%= @ona.info %>
</p>


<%= link_to 'Edit', edit_ona_path(@ona) %> |
<%= link_to 'Back', onas_path %>
