= form_for @post, :html => {'data-bind' => 'submit: createPost'}  do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'Wpisz wiadomość:'
    = f.text_area :content, 'data-bind' => 'value: newPostContent, valueUpdate: "afterkeydown"'
  .actions
    = f.submit 'Zapisz', :class => "btn btn-primary", 'data-bind' => 'enable: newPostContent().length > 0'
