%h1 Wall of shame/blame/flame

.posts
  - @posts.each do |post|
    .post-box
      = image_tag current_user.avatar_url, :class => "avatar"
      = @user + ' shouts around!' 
      = post.date
      %p= post.name 
      %p= post.content
      -#%p= distance_of_time_in_words(Time.now, post.date)

      -#%td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
