- provide(:title, 'Przewodniki')
%p#notice= notice

%h1= @guide.title

= markdown @guide.content

- if can?(:edit, @guide)
  = link_to('Edytuj', edit_guide_path(@guide)) 
  \|
= link_to 'Wróć do listy', guides_path
