<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span <%= 'class=active' if current_page?(root_path) %>>
              <%= link_to 'Ruby on Rails #{w_środy}', root_path, id: "logo" %> 
          </span>
          <ul class="nav pull-right">
            <li <%= 'class=active' if current_page?(about_path) %>>
              <%= link_to 'O nas', about_path %>
            </li>
            <li <%= 'class=active' if current_page?(links_path) %>>
              <%= link_to 'Linki', links_path %>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                Materiały <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Drzewo katalogów', tree_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Przewodniki', guides_path %></li>
              </ul>
            </li>
          </ul>
          <% if controller_name != 'sessions' && current_user.present? %>
            <%= render 'layouts/navbar' %>
          <% end %>
        </div>
      </div>
</div>
</br></br></br>