<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='pl'>
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <title>Ruby Wednesdays</title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrapper">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <%= link_to 'Ruby on Rails #{w_środy}', root_path %>
            </li>
            <li><%= link_to 'Kim jesteśmy i co robimy :)', about_path %></li>
            <li><%= link_to 'Linki, linki, linki', links_path %></li>
            <li><%= link_to 'Drzewo katalogów', '/tree', :target => '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>

		</br></br></br>

		<%= yield %>
		<div class="push"></div>
    </div>
    <div class="footer">
    	<p>Ruby Wednesday (c) 2012</p></p>	
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>
</html>
